.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  height: 100%;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
}

.underline {
  text-decoration: underline;
}
