.arabic {
  font-family: 'Mirza', cursive;
  max-width: 50%;
  text-align: right;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 16px;
  padding: 30px;
  text-align: center;
  transition: 0.3s;
}

.super {
  font-size: 22px;
}

.facts {
  font-size: 15px;
  padding: 20px;
}

.font-size-26px {
  font-size: 26px;
}

.font-size-28px {
  font-size: 28px;
}

.font-size-30px {
  font-size: 30px;
}

.font-size-32px {
  font-size: 32px;
}

.font-size-34px {
  font-size: 34px;
}

.font-size-36px {
  font-size: 36px;
}

.font-size-38px {
  font-size: 38px;
}

.info {
  color: gray;
  font-size: 20px;
}

.translation {
  max-width: 50%;
  text-align: left;
}
